/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
img {
	padding-top: 20px;
	padding-left: 20px;
}

.stockListClass {
	padding: 20px;
}

/* stock list header row */
.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* stock list flex table */
.watchList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.watchListNumericColumn {
  text-align: right;
  width:8em;
}

.watchListRemoveColumn {
  text-align: center;
}

/* Add Stock panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

.gwt-TextBox-area {
	width: 200px;
	padding: 12px 20px;
    box-sizing: border-box;
	border-left: 4px solid #3366FF;
}

/* stock list, the Remove button */
.gwt-Button-remove {
  width: 50px;
}

/* Dynamic color changes for the Change field */
.noChange {
	color: black;
	}

.positiveChange {
    color: green;
}

.negativeChange {
    color: red;
}




